[defaults]
inventory = inventories/production/hosts.yml
roles_path = roles
interpreter_python = auto_silent
local_tmp = .ansible/tmp
retry_files_enabled = False
host_key_checking = True
forks = 10

[ssh_connection]
pipelining = True
control_path_dir = /private/tmp/ansible-cp
control_path = %(directory)s/%%C
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
