# Managed by Ansible.
[Journal]
SystemMaxUse={{ log_retention_journald_system_max_use }}
SystemKeepFree={{ log_retention_journald_system_keep_free }}
SystemMaxFileSize={{ log_retention_journald_system_max_file_size }}
RuntimeMaxUse={{ log_retention_journald_runtime_max_use }}
